.App {
/*   text-align: center */
min-height: 100vmin;
}

.App-container{
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App-header,
.App-footer
 {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5vmin;
}

.App-link {
  color: #61dafb;
}



.App-main{
  background-color:#f9f9f9;
  min-height: 100vmin;
  padding: 10vmin 50vmin;
}

main{
  padding: 5vmin;
}

.App-Button{
  float: right;

}